<!--
  ---
  title: With actions
  category: Alerts
  ---
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
  </head>
  <body>
    <div class="bg-white">
      <div class="max-w-4xl px-4 py-16 mx-auto start-below">
        <div class="p-4 rounded-md bg-green-50">
          <div class="flex">
            <div class="flex-shrink-0">
              <svg
                class="w-5 h-5 text-green-400"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </div>
            <div class="ml-3 text-sm">
              <p class="font-medium leading-5 text-green-800">
                Order completed
              </p>
              <p class="mt-2 leading-5 text-green-600">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum
                in soluta eum voluptatibus dolor laborum.
              </p>
              <div class="flex items-center mt-4 space-x-6 text-sm font-medium">
                <a
                  href="javascript:void(0)"
                  class="text-green-800 hover:underline"
                  >View status</a
                >
                <a
                  href="javascript:void(0)"
                  class="text-green-800 hover:underline"
                  >Dismiss</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
