<body>
  <div class="flex items-center justify-center py-12 bg-white">
    <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
      <div class="text-center start-below sm:flex sm:items-end sm:space-x-4">
        <div class="mt-4 sm:mt-0">
          <!-- Small button -->
          <span class="rounded-md shadow-sm">
            <button
              class="inline-flex items-center justify-center px-3 py-2 text-sm font-medium leading-5 text-white whitespace-no-wrap transition duration-150 ease-in-out bg-indigo-600 border border-transparent rounded-md hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700"
            >
              Button text
              <%= embed_svg "solid/mail", class: "w-4 h-4 ml-2 -mr-1" %>
            </button>
          </span>
        </div>
        <div class="mt-4 sm:mt-0">
          <!-- Regular button -->
          <span class="rounded-md shadow-sm">
            <button
              class="inline-flex items-center justify-center px-3 py-2 text-base font-medium leading-6 text-white whitespace-no-wrap transition duration-150 ease-in-out bg-indigo-600 border border-transparent rounded-md hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700"
            >
              Button text
              <%= embed_svg "solid/mail", class: "w-5 h-5 ml-2 -mr-1" %>
            </button>
          </span>
        </div>
        <div class="mt-4 sm:mt-0">
          <!-- Medium button -->
          <span class="rounded-md shadow-sm">
            <button
              class="inline-flex items-center justify-center px-4 py-2 text-base font-medium leading-7 text-white whitespace-no-wrap transition duration-150 ease-in-out bg-indigo-600 border border-transparent rounded-md hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700"
            >
              Button text
              <%= embed_svg "solid/mail", class: "w-5 h-5 ml-2 -mr-1" %>
            </button>
          </span>
        </div>
        <div class="mt-4 sm:mt-0">
          <!-- Large button -->
          <span class="rounded-md shadow-sm">
            <button
              class="inline-flex items-center justify-center px-6 py-3 text-base font-medium text-white whitespace-no-wrap transition duration-150 ease-in-out bg-indigo-600 border border-transparent rounded-md hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700"
            >
              Button text
              <%= embed_svg "solid/mail", class: "w-5 h-5 ml-2 -mr-1" %>
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
</body>
