<body>
  <div class="bg-gray-50 start-below">
    <div class="px-4 py-8 sm:px-6 lg:px-8">
      <div>
        <h3
          class="text-sm font-medium leading-6 tracking-wide text-gray-500 uppercase"
        >
          Pinned projects
        </h3>
        <div class="grid gap-5 mt-3 md:grid-cols-2 xl:grid-cols-4">
          <div
            class="flex items-center overflow-hidden bg-white rounded shadow md:col-span-1"
          >
            <div
              class="flex items-center justify-center flex-shrink-0 w-16 h-16 bg-green-400"
            >
              <span
                class="text-base font-medium leading-6 tracking-wide text-white"
                >RC</span
              >
            </div>
            <div
              class="flex items-center justify-between flex-1 h-16 min-w-0 px-4 border border-l-0 border-gray-200"
            >
              <div class="text-base truncate">
                <p class="font-medium leading-6 text-gray-900 truncate">
                  React components
                </p>
                <p class="leading-6 text-gray-500">8 members</p>
              </div>
              <div class="-mr-2">
                <button
                  class="p-2 text-gray-500 transition duration-150 ease-in-out rounded-full hover:bg-gray-200 hover:text-gray-700 focus:outline-none focus:bg-gray-200 focus:text-gray-700"
                >
                  <svg
                    class="w-6 h-6"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"
                    ></path>
                  </svg>
                </button>
              </div>
            </div>
          </div>
          <div
            class="flex items-center overflow-hidden bg-white rounded shadow md:col-span-1"
          >
            <div
              class="flex items-center justify-center flex-shrink-0 w-16 h-16 bg-pink-500"
            >
              <span
                class="text-base font-medium leading-6 tracking-wide text-white"
                >GQ</span
              >
            </div>
            <div
              class="flex items-center justify-between flex-1 h-16 min-w-0 px-4 border border-l-0 border-gray-200"
            >
              <div class="text-base truncate">
                <p class="font-medium leading-6 text-gray-900 truncate">
                  GraphQL
                </p>
                <p class="leading-6 text-gray-500">7 members</p>
              </div>
              <div class="-mr-2">
                <button
                  class="p-2 text-gray-500 transition duration-150 ease-in-out rounded-full hover:bg-gray-200 hover:text-gray-700 focus:outline-none focus:bg-gray-200 focus:text-gray-700"
                >
                  <svg
                    class="w-6 h-6"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"
                    ></path>
                  </svg>
                </button>
              </div>
            </div>
          </div>
          <div
            class="flex items-center overflow-hidden bg-white rounded shadow md:col-span-1"
          >
            <div
              class="flex items-center justify-center flex-shrink-0 w-16 h-16 bg-purple-400"
            >
              <span
                class="text-base font-medium leading-6 tracking-wide text-white"
                >CD</span
              >
            </div>
            <div
              class="flex items-center justify-between flex-1 h-16 min-w-0 px-4 border border-l-0 border-gray-200"
            >
              <div class="text-base truncate">
                <p class="font-medium leading-6 text-gray-900 truncate">
                  Component Design
                </p>
                <p class="leading-6 text-gray-500">11 members</p>
              </div>
              <div class="-mr-2">
                <button
                  class="p-2 text-gray-500 transition duration-150 ease-in-out rounded-full hover:bg-gray-200 hover:text-gray-700 focus:outline-none focus:bg-gray-200 focus:text-gray-700"
                >
                  <svg
                    class="w-6 h-6"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"
                    ></path>
                  </svg>
                </button>
              </div>
            </div>
          </div>
          <div
            class="flex items-center overflow-hidden bg-white rounded shadow md:col-span-1"
          >
            <div
              class="flex items-center justify-center flex-shrink-0 w-16 h-16 bg-orange-400"
            >
              <span
                class="text-base font-medium leading-6 tracking-wide text-white"
                >T</span
              >
            </div>
            <div
              class="flex items-center justify-between flex-1 h-16 min-w-0 px-4 border border-l-0 border-gray-200"
            >
              <div class="text-base truncate">
                <p class="font-medium leading-6 text-gray-900 truncate">
                  Templates
                </p>
                <p class="leading-6 text-gray-500">6 members</p>
              </div>
              <div class="-mr-2">
                <button
                  class="p-2 text-gray-500 transition duration-150 ease-in-out rounded-full hover:bg-gray-200 hover:text-gray-700 focus:outline-none focus:bg-gray-200 focus:text-gray-700"
                >
                  <svg
                    class="w-6 h-6"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"
                    ></path>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
