<main class="min-h-screen bg-white">
  <div class="px-4 py-16 mx-auto max-w-8xl sm:px-6 lg:px-8">
    <div class="grid gap-y-16 lg:grap-y-0 lg:grid-cols-2 lg:gap-x-8">
      <%= render "list", templates: @components, type: "components" %>
      <%= render "list", templates: @pages, type: "pages" %>
    </div>
  </div>
</main>