<section class="bg-gray-900">
  <div class="px-4 py-16 mx-auto max-w-8xl sm:px-6 lg:px-8">
    <div class="max-w-2xl">
      <p class="text-base font-semibold leading-6 tracking-wider text-teal-400 uppercase">
        Now in early access
      </p>
      <h2 class="mt-2 text-4xl font-semibold leading-10 text-white font-display">
        Get acquainted with Tailwind UI
      </h2>
      <p class="mt-4 text-base leading-6 text-gray-400 md:leading-7">
        Tailwind UI is a collection of professionally designed, pre-built, fully responsive HTML snippets you can drop into your Tailwind projects. Get started by checking out our free preview components, or browsing the PNG previews in the categories you're most curious about.
      </p>
    </div>
  </div>
</section>