<main>
  <%= render "hero" %>
  <section class="px-4 py-16 mx-auto max-w-8xl sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 row-gap-6 pt-8 lg:grid-cols-4 lg:gap-5">
      <div
        class="grid grid-cols-1 row-gap-8 sm:grid-cols-2 sm:col-gap-5 sm:row-gap-6 md:grid-cols-3 lg:grid-cols-4 lg:col-span-4"
      >
        <% @categories.each do |category| %>
          <%= render "categories/card", category: category %>
        <% end %>
      </div>
    </div>
  </section>
</main>