<body>
  <div class="start-below">
    <div class="py-12 bg-white">
      <div class="max-w-screen-xl px-4 mx-auto sm:px-6 lg:px-8">
        <div class="lg:text-center">
          <p
            class="text-base font-semibold leading-6 tracking-wide text-indigo-600 uppercase"
          >
            Transactions
          </p>
          <h3
            class="mt-2 text-3xl font-extrabold leading-8 tracking-tight text-gray-900 sm:text-4xl sm:leading-10"
          >
            A better way to send money
          </h3>
          <p class="max-w-2xl mt-4 text-xl leading-7 text-gray-500 lg:mx-auto">
            Lorem ipsum dolor sit amet consect adipisicing elit. Possimus magnam voluptatum cupiditate veritatis in accusamus quisquam.
          </p>
        </div>

        <div class="mt-10">
          <ul class="md:grid md:grid-cols-2 md:col-gap-8 md:row-gap-10">
            <li>
              <div class="flex">
                <div class="flex-shrink-0">
                  <div
                    class="flex items-center justify-center w-12 h-12 text-white bg-indigo-500 rounded-md"
                  >
                    <%= embed_svg "stroke/globe-alt", class: "w-6 h-6" %>
                  </div>
                </div>
                <div class="ml-4">
                  <h4 class="text-lg font-medium leading-6 text-gray-900">
                    Competitive exchange rates
                  </h4>
                  <p class="mt-2 text-base leading-6 text-gray-500">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.
                  </p>
                </div>
              </div>
            </li>
            <li class="mt-10 md:mt-0">
              <div class="flex">
                <div class="flex-shrink-0">
                  <div
                    class="flex items-center justify-center w-12 h-12 text-white bg-indigo-500 rounded-md"
                  >
                    <%= embed_svg "stroke/scale", class: "w-6 h-6" %>
                  </div>
                </div>
                <div class="ml-4">
                  <h4 class="text-lg font-medium leading-6 text-gray-900">
                    No hidden fees
                  </h4>
                  <p class="mt-2 text-base leading-6 text-gray-500">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.
                  </p>
                </div>
              </div>
            </li>
            <li class="mt-10 md:mt-0">
              <div class="flex">
                <div class="flex-shrink-0">
                  <div
                    class="flex items-center justify-center w-12 h-12 text-white bg-indigo-500 rounded-md"
                  >
                    <%= embed_svg "stroke/lightning-bolt", class: "w-6 h-6" %>
                  </div>
                </div>
                <div class="ml-4">
                  <h4 class="text-lg font-medium leading-6 text-gray-900">
                    Transfers are instant
                  </h4>
                  <p class="mt-2 text-base leading-6 text-gray-500">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.
                  </p>
                </div>
              </div>
            </li>
            <li class="mt-10 md:mt-0">
              <div class="flex">
                <div class="flex-shrink-0">
                  <div
                    class="flex items-center justify-center w-12 h-12 text-white bg-indigo-500 rounded-md"
                  >
                    <%= embed_svg "stroke/annotation", class: "w-6 h-6" %>
                  </div>
                </div>
                <div class="ml-4">
                  <h4 class="text-lg font-medium leading-6 text-gray-900">
                    Mobile notifications
                  </h4>
                  <p class="mt-2 text-base leading-6 text-gray-500">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>
