@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'font';
@import 'prism';
@import 'tooltip';

button:disabled,
button[disabled] {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}

@import 'tailwindcss/utilities';
