<body>
  <div class="start-below">
    <main class="flex items-center justify-center min-h-screen py-12 bg-gray-50 sm:px-6 lg:px-8">
      <div class="w-full sm:max-w-md">
        <div class="px-4">
          <img class="w-auto h-12 mx-auto" src="https://tailwindui.com/img/logos/workflow-mark-on-white.svg" alt="Workflow">
          <h2 class="mt-6 text-3xl font-extrabold leading-9 text-center text-gray-900">
            Sign in to your account
          </h2>
          <p class="mt-2 text-sm leading-5 text-center text-gray-600">
            Or
            <a href="#" class="font-medium text-indigo-600 transition duration-150 ease-in-out hover:text-indigo-500">
              start your 14-day free trial
            </a>
          </p>
        </div>
        <div class="px-10 py-8 mt-8 bg-white shadow sm:rounded-md">
          <form action="#" action="POST">
            <input type="hidden" name="remember" value="true">
            <div>
              <div class="flex items-center justify-between">
                <label for="email" class="block text-sm font-medium text-gray-700">Email address</label>
                <a href="#" class="text-sm font-medium text-indigo-600 transition duration-150 ease-in-out hover:text-indigo-500">
                  Need help?
                </a>
              </div>
              <input type="email" id="email" class="block w-full mt-1 shadow-sm form-input">
            </div>
            <div class="mt-4">
              <span class="rounded-md shadow-sm">
                <button type="submit" class="block w-full px-3 py-2 text-base font-medium leading-6 text-white whitespace-no-wrap transition duration-150 ease-in-out bg-indigo-600 border border-transparent rounded-md hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700">
                  Sign in
                </button>
              </span>
            </div>
          </form>
          <div class="mt-4">
            <p class="text-sm text-gray-600">By signing in you agree to our <a href="#" class="font-medium underline transition duration-150 ease-in-out hover:text-gray-500">terms and conditions</a>.</p>
          </div>
          <div class="py-5">
            <div class="w-full border-t border-gray-200"></div>
          </div>
          <div>
            <h3 class="text-gray-700">New to our platform?</h3>
            <div class="mt-4">
              <span class="rounded-md shadow-sm">
                <button type="button" class="block w-full px-3 py-2 text-base font-medium leading-6 text-gray-700 whitespace-no-wrap transition duration-150 ease-in-out bg-white border border-gray-300 rounded-md hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:text-gray-800 active:bg-gray-50">
                  Create an account
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>
