<header class="relative z-10 bg-white border-b border-gray-200 ">
  <div class="flex items-center justify-between p-4 mx-auto max-w-8xl sm:px-6 lg:px-8">
    <div>
      <%= link_to root_url do %>
        <%= embed_svg "logo", class: "h-6 w-auto hidden sm:block" %>
        <%= embed_svg "logo-mark", class: "h-6 w-auto sm:hidden" %>
      <% end %>
    </div>
    <%= render "headers/links" %>
  </div>
</header>