<header class="relative z-10 py-4 bg-white border-b border-gray-200 ">
  <div class="px-4 mx-auto max-w-8xl sm:px-6 lg:px-8">
    <div>
      <%= link_to root_url do %>
        <%= embed_svg "logo.svg", class: "h-6 w-auto" %>
      <% end %>
    </div>
  </div>
</header>