<header class="relative z-10 py-4 bg-white border-b border-gray-200 ">
  <div class="flex items-center justify-between px-4 mx-auto max-w-8xl sm:px-6 lg:px-8">
    <div>
      <%= link_to root_url do %>
        <%= embed_svg "logo.svg", class: "h-6 w-auto" %>
      <% end %>
    </div>
    <nav class="flex text-sm leading-5">
      <a href="javascript:void(0)" class="font-medium text-gray-500 hover:text-gray-900">
        Browse <span class="hidden sm:inline">components</span>
      </a>
      <a href="javascript:void(0)" class="ml-4 font-medium text-gray-500 sm:ml-12 hover:text-gray-900">
        Pricing <span class="hidden sm:inline">& FAQ</span>
      </a>
      <a href="javascript:void(0)" class="ml-4 font-medium text-gray-500 sm:ml-12 hover:text-gray-900">
        Login
      </a>
    </nav>
  </div>
</header>