<section class="px-4 py-16 mx-auto max-w-8xl sm:px-6 lg:px-8">
  <div class="grid grid-cols-1 row-gap-6 pt-8 border-t border-gray-200 lg:grid-cols-4 lg:gap-5">
    <div data-turbolinks="false" class="grid grid-cols-1 row-gap-8 sm:grid-cols-2 sm:col-gap-5 sm:row-gap-6 md:grid-cols-3 lg:col-span-3">
      <% categories.each do |category| %>
        <%= link_to category_url(category), class: "block group" do %>
          <figure>
            <div class="relative overflow-hidden transition duration-150 ease-in-out transform rounded">
              <%= image_tag "https://tailwindui.com/img/category-thumbnails/sections-heroes.svg", alt: "#{category.title}", class: "w-full h-auto" %>
              <div class="absolute inset-0 flex items-center justify-center text-center transition duration-150 ease-in-out border border-gray-900 rounded-md opacity-15"></div>
              <div class="absolute inset-0 transition duration-150 ease-in-out bg-white opacity-0 group-hover:opacity-30"></div>
            </div>
            <figcaption class="mt-3">
              <p class="text-sm font-medium leading-5 text-gray-900">
                <%= category.title %>
              </p>
            </figcaption>
          </figure>
        <% end %>
      <% end %>
    </div>
  </div>
</section>