<main class="min-h-screen">
  <div>
    <div class="py-16 mx-auto max-w-8xl">
      <div class="px-4 -mb-6 sm:px-6 lg:px-8">
        <h3 class="text-2xl font-semibold leading-8 text-gray-900 font-display sm:text-3xl sm:leading-9">
          <%= @category.title %>
        </h3>
      </div>
      <% @templates.each do |template| %>
        <preview :template="<%= {
          title: TemplateParser.new(template).get_title,
          displayCode: TemplateParser.new(template).parse_html("div.start-below"),
          htmlBody: TemplateParser.new(template).parse_body,
          cssPath: Webpacker.manifest.lookup('application.css'),
          templateURL: template_url(File.basename(template, ".*"))
        }.to_json %>"></preview>
      <% end %>
    </div>
  </div>
</main>