<!--
  ---
  title: Cards with featured image in column
  category: Blog sections
  ---
-->

<body>
  <div class="antialiased bg-white start-below">
    <section class="px-4 py-16 mx-auto max-w-7xl sm:px-6 lg:px-8">
      <div class="text-center">
        <h2 class="text-4xl font-extrabold text-gray-900">From the blog</h2>
        <p class="max-w-2xl mx-auto mt-5 text-lg text-gray-500 lg:text-xl">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Et deserunt
          quas distinctio dignissimos, rerum illo!
        </p>
      </div>
      <div
        class="grid max-w-lg gap-6 mx-auto mt-12 lg:grid-cols-3 lg:max-w-none"
      >
        <div
          class="flex flex-col overflow-hidden rounded-lg shadow-lg lg:col-span-1"
        >
          <div class="flex-shrink-0">
            <a href="javascript:void(0)">
              <img
                src="https://images.unsplash.com/photo-1556761175-4b46a572b786?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80"
                alt=""
                class="object-cover w-full h-48"
              />
            </a>
          </div>
          <div class="flex flex-col justify-between flex-1 p-6">
            <div class="flex-1">
              <p class="text-sm font-medium leading-5 text-indigo-600">
                Blog
              </p>
              <a href="javascript:void(0)">
                <h3
                  class="mt-2 text-xl font-semibold leading-7 text-gray-900 transition duration-150 hover:text-gray-600"
                >
                  Boost your conversion rate
                </h3>
              </a>
              <p class="mt-3 text-base leading-6 text-gray-600">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptatibus voluptas consectetur adipisicing.
              </p>
            </div>
            <div class="mt-6">
              <div class="flex items-center">
                <div class="flex-shrink-0">
                  <img
                    class="w-10 h-10 rounded-full"
                    src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                    alt=""
                  />
                </div>
                <div class="ml-3 text-sm text-gray-500">
                  <a href="javascript:void(0)">
                    <p
                      class="inline font-medium leading-5 text-gray-900 hover:underline"
                    >
                      Abeid Ahmed
                    </p>
                  </a>
                  <p>
                    <span class="leading-5">
                      <time datetime="2020-03-16">Mar 16, 2020</time>
                    </span>
                    <span class="mx-1">&middot;</span>
                    <span class="leading-5">
                      6 min read
                    </span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="flex flex-col overflow-hidden rounded-lg shadow-lg lg:col-span-1"
        >
          <div class="flex-shrink-0">
            <a href="javascript:void(0)">
              <img
                src="https://images.unsplash.com/photo-1497366754035-f200968a6e72?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
                alt=""
                class="object-cover w-full h-48"
              />
            </a>
          </div>
          <div class="flex flex-col justify-between flex-1 p-6">
            <div class="flex-1">
              <p class="text-sm font-medium leading-5 text-indigo-600">
                Video
              </p>
              <a href="javascript:void(0)">
                <h3
                  class="mt-2 text-xl font-semibold leading-7 text-gray-900 transition duration-150 hover:text-gray-600"
                >
                  How to use search engine optimization to drive sales
                </h3>
              </a>
              <p class="mt-3 leading-6 text-gray-600">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptatibus voluptas dolorum illum vero incidunt.
              </p>
            </div>
            <div class="mt-6">
              <div class="flex items-center">
                <div class="flex-shrink-0">
                  <img
                    class="w-10 h-10 rounded-full"
                    src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=256&h=256&q=80"
                    alt=""
                  />
                </div>
                <div class="ml-3 text-sm text-gray-500">
                  <a href="javascript:void(0)">
                    <p
                      class="inline font-medium leading-5 text-gray-900 hover:underline"
                    >
                      Mark Weisner
                    </p>
                  </a>
                  <p>
                    <span class="leading-5">
                      <time datetime="2020-03-20">Mar 20, 2020</time>
                    </span>
                    <span class="mx-1">&middot;</span>
                    <span class="leading-5">
                      5 min read
                    </span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="flex flex-col overflow-hidden rounded-lg shadow-lg lg:col-span-1"
        >
          <div class="flex-shrink-0">
            <a href="javascript:void(0)">
              <img
                src="https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80"
                alt=""
                class="object-cover w-full h-48"
              />
            </a>
          </div>
          <div class="flex flex-col justify-between flex-1 p-6">
            <div class="flex-1">
              <p class="text-sm font-medium leading-5 text-indigo-600">
                Case Study
              </p>
              <a href="javascript:void(0)">
                <h3
                  class="mt-2 text-xl font-semibold leading-7 text-gray-900 transition duration-150 hover:text-gray-600"
                >
                  Improve your customer experience
                </h3>
              </a>
              <p class="mt-3 leading-6 text-gray-600">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptatibus voluptas dolorum illum vero.
              </p>
            </div>
            <div class="mt-6">
              <div class="flex items-center">
                <div class="flex-shrink-0">
                  <img
                    class="w-10 h-10 rounded-full"
                    src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                    alt=""
                  />
                </div>
                <div class="ml-3 text-sm text-gray-500">
                  <a href="javascript:void(0)">
                    <p
                      class="inline font-medium leading-5 text-gray-900 hover:underline"
                    >
                      Daniel Albella
                    </p>
                  </a>
                  <p>
                    <span class="leading-5">
                      <time datetime="2020-03-23">Mar 23, 2020</time>
                    </span>
                    <span class="mx-1">&middot;</span>
                    <span class="leading-5">
                      10 min read
                    </span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</body>
