<body>
  <div class="bg-white">
    <div class="max-w-4xl px-4 py-16 mx-auto start-below">
      <div class="p-4 rounded-md bg-yellow-50">
        <div class="flex">
          <div class="flex-shrink-0">
            <%= embed_svg "solid/warning.svg", class: "w-5 h-5 text-yellow-400"
            %>
          </div>
          <div class="ml-3 text-sm">
            <p class="font-semibold leading-5 text-yellow-800">
              Attention needed
            </p>
            <p class="mt-2 leading-5 text-yellow-600">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum in
              soluta eum voluptatibus dolor laborum. Lorem ipsum dolor sit amet.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
