<body>
  <div class="bg-white">
    <div class="max-w-4xl px-4 py-16 mx-auto start-below">
      <div class="p-4 border-l-4 border-yellow-400 bg-yellow-50">
        <div class="flex">
          <div class="flex-shrink-0">
            <%= embed_svg "solid/warning", class: "w-5 h-5 text-yellow-400" %>
          </div>
          <div class="ml-3 text-sm">
            <p class="font-medium leading-5 text-yellow-600">
              You have no credits left.
              <a href="#" class="font-medium text-yellow-800 underline hover:text-yellow-600">
                Upgrade your account to add more credits
              </a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
