<body>
  <div class="bg-white">
    <div class="max-w-4xl px-4 py-16 mx-auto start-below">
      <div class="p-4 rounded-md bg-green-50">
        <div class="flex">
          <div class="flex-shrink-0">
            <%= embed_svg "solid/check-circle", class: "w-5 h-5 text-green-400"
            %>
          </div>
          <div class="ml-3 text-sm">
            <p class="font-medium leading-5 text-green-800">
              Order completed
            </p>
            <p class="mt-2 leading-5 text-green-600">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum in
              soluta eum voluptatibus dolor laborum.
            </p>
            <div class="flex items-center mt-4 space-x-6 text-sm font-medium">
              <a href="#" class="text-green-800 hover:underline">
                View status
              </a>
              <a href="#" class="text-green-800 hover:underline">
                Dismiss
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
