{% comment %}
  ---
  title: Title of the file
  category: Category title
  ---
{% endcomment %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="https://tailwindui.com/css/iframe.css?id=eb8131aef44c38468b01">
  </head>
  <body>

  </body>
</html>